{% extends "users/base.html" %}

{% block content %}

<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #96D4D4;
  padding: 10px;
  text-align: center;
  color: #2E4053;
  text-transform: capitalize;

}

tr:hover {background-color: #D6EEEE;}

</style>


<h1>Список контактів у кого день народження на цьому тижні</h1>
<br/>



    <table style="width:100%">
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>День народження</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in birthday_list %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.birthday }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}




