{% extends "users/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<style>
th{
text-align: center;

}

td{
    color:#263B50;
    font-weight:bold;
}



</style>


<div class="text-center">
    <a href="{% url 'contacts:main' %}" class="btn btn-primary" style="width: 24%">Home</a>
    <a href="{% url 'contacts:contacts' %}" class="btn btn-primary" style="width: 24%">Add contact</a>
    <a href="{% url 'contacts:sort' %}" class="btn btn-primary" style="width: 24%">Sort by name</a>
    <a href="{% url 'contacts:birthday' %}" class="btn btn-primary" style="width: 24%">Birthday on this week</a>
</div>
<br/>
<h1 class="text-center"><b>CONTACTS</b></h1>

<br>
{% if form.errors %}
<span class="alert alert-danger" role="alert" id="error-message">{{form.non_field_errors}}</span>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" id="message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<br>

<div class="form-box">
    <form action="{% url 'contacts:file_uploader' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="formFile" class="form-label mt-4">Upload CSV file:</label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Upload CSV</button>
    </form>
</div>


<br>
<div class="d-flex justify-content-center align-items-center mx-auto">
    <form class="d-flex search-form" action="{% url 'contacts:search_contact'%}" method="POST">
        {% csrf_token %}
        <label class="text-center" style="font-weight: bold;"></label>
        <input class="form-control me-2" type="search" name="searched" placeholder="Search contact" aria-label="Search">
        <button class="btn btn-outline-primary btn-block" type="submit">Search</button>
    </form>
</div>

<br>
<br/>


{% if page %}

<table class="table table-hover">
    <thead>
    <tr>
        <th style="background-color: #87CEEB;">Firstname</th>
        <th style="background-color: #87CEEB;">Lastname</th>
        <th style="background-color: #87CEEB;">Phone</th>
        <th style="background-color: #87CEEB;">Email</th>
        <th style="background-color: #87CEEB;">Birthday</th>

    </tr>
    </thead>
    <tbody>
    {% for contact in page %}
    <tr class=active">
        <td>{{ contact.firstname }}</td>
        <td>{{ contact.lastname }}</td>
        <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
        <td>{{ contact.birthday }}</td>
        <td><a href="{% url 'contacts:edit' contact.id %}" class="btn btn-outline-info btn-sm">Update</a></td>
        <td><a href="{% url 'contacts:delete_contact' contact.id %}" class="btn btn-outline-dark btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No contacts yet...</h1>
{% endif %}

<br>
<div>
    <ul class="pagination pagination-lg">
        <li class="page-item {% if not page.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page.has_previous %}?page=1{% else %}#{% endif %}">&laquo;</a>
        </li>
        {% for num in page.paginator.page_range %}
        {% if num == page.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ num }}</a>
        </li>
        {% elif num > page.number|add:'-2' and num < page.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not page.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="{% if page.has_next %}?page={{ page.paginator.num_pages }}{% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
<br>

<script>
    // Функція для автоматичного приховування повідомлення після певного часу
    function hideMessage() {
        var errorMessage = document.getElementById("error-message");
        var message = document.getElementById("message");

        if (errorMessage) {
            errorMessage.style.display = "none";
        }

        if (message) {
            message.style.display = "none";
        }
    }

    // Запуск функції приховування через 5 секунд
    setTimeout(hideMessage, 5000);
</script>
{% else %}
    <div style="text-align: center;">
        <h2>Sign up or login to your account!</h2>
    </div>
{% endif %}
{% endblock %}