{% extends "users/base.html" %}

{% block content %}
    <h1>Список ваших контактів</h1>
    <h1>Вітаю, {{ user }}!</h1>
    <nav style="margin-bottom: 50px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'contacts:contacts' %}">Add Contact</a></li>
            <li><a href="{% url 'contacts:sort' %}"> Sort </a></li>
            <li><a href="{% url 'contacts:birthday' %}"> Birthday </a></li>
        </ul>
    </nav>
    <ul>{% for contact in contacts %}
        <h4><strong>{{ contact.firstname }} {{ contact.lastname }}</strong></h4>
            <a href="{% url 'contacts:edit' contact.id %}" role="button" >Update</a>
            <a href="{% url 'contacts:delete_contact' contact.id %}" role="button" class="contrast"> Delete note </a>

        <!--<li><strong>{{ contact.lastname }}</strong></li>-->
        <li>{{ contact.phone }}</li>
        <li>{{ contact.email }}</li>
        <li>{{ contact.birthday }}</li>
        {% endfor %}
    </ul>

{% endblock %}