aiohttp==3.8.4
aiosignal==1.3.1
APScheduler==3.10.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
cloudinary==1.33.0
colorama==0.4.6
Django==4.2.2
django-apscheduler==0.6.2
django-environ==0.10.0
django-phonenumber-field==7.1.0
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
openai==0.27.8
phonenumbers==8.13.13
psycopg2-binary==2.9.6
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tqdm==4.65.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.16
yarl==1.9.2