a {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #ad998b;
    text-decoration: none;
}

tr {
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #ad998b;
    text-decoration: none;
}

.authorOrTitle {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    color: #333;
}

.quoteText {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    padding: 0px 5px 10px 0px;
    line-height: 21px;
}

.quoteTitle {
    padding: 0px 0px 2px 0px;
    font-size: 40px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    color: #382110;
    line-height: 36px;
    border-bottom: 1px solid #D8D8D8;
}

.topTagsTitle {
    text-transform: uppercase;
    line-height: 20px;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
}

.tagsTop {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    text-align: right;
}

.endTags {
    text-transform: uppercase;
    line-height: 1px;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
}

.leftAlignedImage {
    float: left;
    margin-right: 10px;
}

.table {
    background: url("https://i.pinimg.com/originals/df/9c/d8/df9cd8b31bd1aae0903ced002c848eec.gif") no-repeat center;
}

