/* Загальні стилі */


/* Стилі для модального вікна */


/* Стилі для блоку новин */

.news {
    text-align: center;
}

.news-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.news-item {
    width: calc(33.33% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.news-info {
    text-align: center;
}

.news-info h3 {
    margin: 0;
    font-size: 16px;
}

.news-info p {
    margin: 3px 0 0;
    font-size: 14px;
}

.news-item img {
    width: 100%;
}

.news-info span {
    font-size: 12px;
    color: #888;
}

/* Стилі для деталей новини */

.news-details {
    margin-top: 20px;
}

.news-image {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.news-title {
    font-size: 24px;
    margin-top: 10px;
}

.news-content {
    margin-top: 10px;
    font-size: 16px;
}

.news-date {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}

/* Стилі для блоку "Not Found" */

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}

.not-found-heading {
    color: white;
    font-size: 5rem;
    text-align: center;
}

/* Стилі для таблиці */

.currency-block h6,
.table-1 th,
.table-1 td {
    font-size: 12px;
}

.table-1 {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.table-1 th,
.table-1 td {
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc;
}

.table-1 th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-1 tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-1 tbody tr:hover {
    background-color: #e9e9e9;
}

/* Стилі для блоку пагінації */

.smaller-pagination .page-item .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.smaller-pagination .page-item.disabled .page-link {
    color: #f7f7f7;
}

/* Стилі для форми */

.form-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-image: url("https://i.pinimg.com/564x/33/65/29/3365296afc98e3178c45e6b76dd525fc.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

#backend_upload label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#backend_upload input[type="text"],
#backend_upload input[type="file"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#backend_upload input[type="submit"] {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#backend_upload input[type="submit"]:hover {
    background-color: #286090;
}

#backend_upload .form-group:last-child input[type="submit"] {
    margin-top: 10px;
}


/* Стилі для масонської сітки */

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: 0.85em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
}

.item-img {
    display: inline-block;
    background: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    border-radius: 10px;
    overflow: hidden;
}

/* Медіа-запити для різних розмірів адаптивного макету */

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

