{% extends 'users/base.html' %}


{% block content %}

<div class="text-center">
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 19%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 19%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 19%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 19%">Documents</a>
    <a href="{% url 'file_manager:upload_archive' %}" class="btn btn-primary" style="width: 19%">Archive</a>
</div>
<br>
<h1 class="text-center"><b>FILE MANAGER</b></h1>

{% endblock %}