{% extends 'users/base.html' %}


{% block content %}

<div class="text-center">
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 24%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 24%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 24%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 24%">Documents</a>
</div>
<h1 class="text-center">FILE MANAGER</h1>

{% endblock %}