{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <a href="{% url 'file_manager:gallery' %}" class="btn btn-primary" style="width: 19%">Gallery</a>
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 19%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 19%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 19%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 19%">Documents</a>
</div>
<br>
<h1 class="text-center">PICTURES</h1>
<div class="text-center">
    {% load cloudinary %}
    <div class="form-box">
        <form action="{% url 'file_manager:upload_picture' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Upload Picture:</label>
                <input class="form-control" type="file" id="formFile" name="image">
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" name="title">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<br>
<h2 class="text-center">Cloud Pictures</h2>
<br>
<div class="d-flex justify-content-center align-items-center mx-auto">
    <form class="d-flex search-form" action="{% url 'file_manager:search_picture' %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<br>
{% if form.errors %}
<span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<br>
<div class="masonry">
    {% for img in cloud_images %}
    <div class="item-img">
        <div class="form-box-img">
            <div class="image-section square-section">
                <div class="image-wrapper">
                    <a class="image-btn" data-toggle="modal" data-target="#imageModal{{ img.id }}">
                        <img src="{{ img.image.url }}" alt="{{ img.title }}" class="img-responsive" width="178px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="imageModal{{ img.id }}" tabindex="-1" role="dialog"
         aria-labelledby="imageModal{{ img.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-full-width" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ img.image.url }}" alt="{{ img.title }}" class="img-fluid"
                         style="max-width: 100%; max-height: 100%;">
                </div>
                <div class="modal-footer" style="text-align: left; display: flex; justify-content: flex-start;">
                    <h4 style="margin-right: auto;">{{ img.title }}</h4>
                    {% if request.user == img.user %}
                    <form action="{% url 'file_manager:delete_picture' img.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark"
                                onclick="return confirm('Are you sure you want to delete this picture?')">Delete
                        </button>
                    </form>
                    {% endif %}
                    <a href="{% url 'file_manager:download_image' img.image.url %}" class="btn btn-primary">Download</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="text-center">
        <h2>No images available.</h2>
    </div>
    {% endfor %}
</div>
<br>
<div>
    <ul class="pagination pagination-lg">
        <li class="page-item {% if not cloud_images.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if cloud_images.has_previous %}?page=1{% else %}#{% endif %}">&laquo;</a>
        </li>
        {% for num in cloud_images.paginator.page_range %}
        {% if num == cloud_images.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ num }}</a>
        </li>
        {% elif num > cloud_images.number|add:'-2' and num < cloud_images.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not cloud_images.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="{% if cloud_images.has_next %}?page={{ cloud_images.paginator.num_pages }}{% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
<br>

<script>
// Додайте event listener для кнопок закриття
var closeButtons = document.querySelectorAll(".modal-footer button[data-dismiss='modal']");
closeButtons.forEach(function(button) {
    button.addEventListener("click", function() {
        var modal = button.closest(".modal");
        if (modal) {
            modal.classList.remove("show");
            modal.style.display = "none";
        }
    });
});

// Додайте event listener для кнопок фотографій
var imageButtons = document.querySelectorAll(".image-btn");
imageButtons.forEach(function(button) {
    button.addEventListener("click", function() {
        var modalId = button.getAttribute("data-target");
        var modal = document.querySelector(modalId);
        if (modal) {
            modal.classList.add("show");
            modal.style.display = "block";
        }
    });
});

function downloadImage(url, filename) {
    var anchor = document.createElement('a');
    anchor.href = url;
    anchor.download = filename;
    anchor.style.display = 'none';
    document.body.appendChild(anchor);
    anchor.click();
    document.body.removeChild(anchor);
}


</script>

{% endblock %}
