{% extends 'users/base.html' %}


{% block content %}

<div class="text-center">
    <a href="{% url 'file_manager:gallery' %}" class="btn btn-primary" style="width: 19%">Gallery</a>
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 19%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 19%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 19%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 19%">Documents</a>
</div>
<br>
<h1 class="text-center">VIDEO</h1>
<div class="text-center">
    {% load cloudinary %}
    <div class="form-box">
        <form action="{% url 'file_manager:upload_video' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Upload Video:</label>
                <input class="form-control" type="file" id="formFile" name="video">
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" name="title">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
<br>
<h2 class="text-center">Cloud Video</h2>
<br>
<div class="row">
    {% for video in cloud_video %}
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ video.title }}</div>
        <div class="card-body">
            <div class="video-section square-section">
                <div class="video-wrapper">
                    <a href="{{ video.video.url }}">
                        <video width="250" height="270" controls>
                            <source src="{{ video.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <p>Немає доступних відео.</p>
    {% endfor %}
</div>
{% endblock %}