{% extends 'users/base.html' %}
{% load static %}

<!-- Решта вмісту вашого шаблону -->

<head>
    <!-- Посилання на статичні файли -->
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>

{% block content %}
<div class="text-center">
    <a href="{% url 'file_manager:gallery' %}" class="btn btn-primary" style="width: 19%">Gallery</a>
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 19%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 19%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 19%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 19%">Documents</a>
</div>
<h1 class="text-center">PICTURES</h1>
<br>
<div class="text-center">

    {% load cloudinary %}
    <div class="form-box">
        <div id="backend_upload">
            <h4>Upload Picture</h4>
            <form action="{% url 'file_manager:upload_picture' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Title:</label>
                    {{ image_form.title }}
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    {{ image_form.description }}
                </div>
                <div class="form-group">
                    <label>Image:</label>
                    {{ image_form.image }}
                </div>
                <input type="submit" class="btn btn-primary" value="Upload">
            </form>
        </div>
    </div>

    <hr>
    <div class="row">
    {% for img in cloud_images %}
    <div class="col-3 col-sm-3">
        <div class="image-section square-section">
            <h4>{{ img.title }}</h4>
            <div class="image-wrapper">
                <a href="#" data-toggle="modal" data-target="#imageModal{{ img.id }}">
                    <img src="{{ img.image.url }}" alt="{{ img.title }}" class="img-responsive">
                </a>
            </div>
            <p>{{ img.description }}</p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="imageModal{{ img.id }}" tabindex="-1" role="dialog" aria-labelledby="imageModal{{ img.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ img.image.url }}" alt="{{ img.title }}" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Немає доступних зображень.</p>
    {% endfor %}
</div>


</div>


{% endblock %}