{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <a href="{% url 'file_manager:upload_picture' %}" class="btn btn-primary" style="width: 19%">Pictures</a>
    <a href="{% url 'file_manager:upload_video' %}" class="btn btn-primary" style="width: 19%">Video</a>
    <a href="{% url 'file_manager:upload_audio' %}" class="btn btn-primary" style="width: 19%">Audio</a>
    <a href="{% url 'file_manager:upload_document' %}" class="btn btn-primary" style="width: 19%">Documents</a>
    <a href="{% url 'file_manager:upload_archive' %}" class="btn btn-primary" style="width: 19%">Archive</a>
</div>
<br>
<h1 class="text-center"><b>ARCHIVE</b></h1>
<div class="text-center">
    {% load cloudinary %}
    <div class="form-box">
        <form action="{% url 'file_manager:upload_archive' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Upload Archive:</label>
                <input class="form-control" type="file" id="formFile" name="archive">
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" name="title">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
<br>
<h2 class="text-center">Cloud Archive</h2>
<br>
<div class="d-flex justify-content-center align-items-center mx-auto">
    <form class="d-flex search-form" action="{% url 'file_manager:search_archive' %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<br>
{% if form.errors %}
<span class="alert alert-danger" role="alert" id="error-message">{{form.non_field_errors}}</span>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" id="message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<br>
<div>
    <ul class="archive-list">
        {% for archive in cloud_archive %}
        <li class="archive-item">
            <div class="archive-details">
                <div class="archive-title">{{ archive.title|truncatechars:50 }}</div>
            </div>
            <div class="archive-actions">
                <a href="{% url 'file_manager:download_archive' archive.archive.url %}"
                   class="badge rounded-pill bg-light" style="text-decoration: none;">Download</a>
                <button class="badge rounded-pill bg-dark delete-archive-button" data-archive-id="{{ archive.id }}">
                    Delete
                </button>
            </div>
        </li>
        {% empty %}
        <li>
            <h2 class="text-center">No available archive.</h2>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Archive Deletion</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Archive?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" id="confirmDeleteButton">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeleteButton">Cancel
                </button>

            </div>
        </div>
    </div>
</div>
<br>
<div>
    <ul class="pagination pagination-lg">
        <li class="page-item {% if not cloud_archive.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if cloud_archive.has_previous %}?page=1{% else %}#{% endif %}">&laquo;</a>
        </li>
        {% for num in cloud_archive.paginator.page_range %}
        {% if num == cloud_archive.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ num }}</a>
        </li>
        {% elif num > cloud_archive.number|add:'-2' and num < cloud_archive.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not cloud_archive.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="{% if cloud_archive.has_next %}?page={{ cloud_archive.paginator.num_pages }}{% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
<br>
<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Important note!</strong>
    Xmara does not support direct download of <b>rar</b> files.

    However, you can extract the <b>rar</b> archive locally on your computer and then upload the contents as individual files
    to Xmara. If you have questions about uploading a specific file type to Xmara or performing certain file
    operations, I recommend contacting Xmara's documentation or their support directly for more information.
</div>
<br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var deleteArchiveId;

    $(".delete-archive-button").on("click", function() {
        deleteArchiveId = $(this).data("archive-id");
        $("#confirmDeleteModal").modal("show");
    });

    $("#confirmDeleteButton").on("click", function() {
        deleteArchive(deleteArchiveId);
    });

    function deleteArchive(archiveId) {
        var deleteArchiveUrl = "{% url 'file_manager:delete_archive' archive_id=0 %}".replace("0", archiveId);
        window.location.href = deleteArchiveUrl;
    }

    $("#cancelDeleteButton").on("click", function() {
        $("#confirmDeleteModal").modal("hide");
    });
});

function downloadArchive(url, filename) {
    var anchor = document.createElement('a');
    anchor.href = url;
    anchor.download = filename;
    anchor.style.display = 'none';
    document.body.appendChild(anchor);
    anchor.click();
    document.body.removeChild(anchor);
}
</script>
<script>
    // Функція для автоматичного приховування повідомлення після певного часу
    function hideMessage() {
        var errorMessage = document.getElementById("error-message");
        var message = document.getElementById("message");

        if (errorMessage) {
            errorMessage.style.display = "none";
        }

        if (message) {
            message.style.display = "none";
        }
    }

    // Запуск функції приховування через 5 секунд
    setTimeout(hideMessage, 5000);
</script>
<style>
.archive-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.archive-title {
    flex-grow: 1;
}

.archive-actions {
    margin-left: 10px;
}

</style>
{% endblock %}