{% extends 'users/base.html' %}

{% block content %}
{% load static %}
<div class="text-center">
    <br>
    <br>
    <div class="Title" rel="stylesheet" style="text-align: left; margin-left: 190px; font-size: 40px;">HELLO WORLD</div>
    <br>
    <div class="chat-form" style="max-width: 630px; margin: 15px;">
        <form id="question-form" action="{% url 'users:question_to_ai' %}" method="post">
            {% csrf_token %}
            <br>
            <br>
            <div class="mb-2">
                <label for="question" style="font-weight: bold;">Xmara-GPT assistant </label>
            </div>
            <div class="d-flex">
                <input type="text" id="question" name="question" class="form-control me-2">
                <input type="submit" class="btn btn-dark" value="Ask">
            </div>
        </form>
        <br>
        <div id="response-container"></div>
    </div>
</div>


<div class="alert alert-dismissible alert-light" id="question-response">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{ answer_for_user }}</strong>
</div>
<style>
#question-response {
    width: 68%; /* Змініть це значення на бажану ширину вікна */
    height: 17%;
    background-image: url("https://i.pinimg.com/564x/67/89/14/678914c78c7161f51c3b9e985417fcad.jpg");
    background-size: 105% auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
</style>

<script>
  $(document).ready(function() {
    $('#question-form').submit(function(event) {
      event.preventDefault();
      var form = $(this);
      var url = form.attr('action');
      var formData = form.serialize();

      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        success: function(response) {
          $('#response-container').html(response);
        }
      });
    });
  });

</script>


{% endblock %}