{% extends "users/base.html" %}

{% block content %}


<br>
<div style="text-align: left; margin-top: 10vh; margin-left: 130px;">
    <h2>Password reset</h2>

    <a href="/"><img src="https://i.pinimg.com/564x/df/bd/13/dfbd136d5f2fdbc5c33766da2cb41f91.jpg" height="150"></a>
    <br>
    <br>

    <form method="POST">
        {% csrf_token %}
        <div class="input-group-center mb-3">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-primary btn">Request password reset</button>
    </form>
</div>


{% endblock %}