{% extends "users/base.html" %}

{% block content %}

<h1>Edit Note</h1>

<form method="POST" action="{% url 'notes:edit_note' note.id %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Note name:</label>
        {{ form.name }}
        <span class="text-danger">{{ form.errors.name }}</span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Note description:</label>
        {{ form.description }}
        <span class="text-danger">{{ form.errors.description }}</span>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Select tags:</label>
        <select name="tags" id="tags" class="form-control" multiple required>
            {% for tag in tags %}
            <option value="{{tag.name}}" {% if tag in note.tags.all %}selected{% endif %}>{{tag.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="grid">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

{% endblock %}
