{% extends 'users/base.html' %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group-vertical" role="group" aria-label="Button Group">
                    <a href="{% url 'notes:note' %}" class="btn btn-primary btn-block mb-2">Add Note</a>
                    <a href="{% url 'notes:tag' %}" class="btn btn-secondary btn-block">Add Tag</a>
                </div>
            </div>
            <div class="col-md-9">
                <form method="GET" action="{% url 'notes:search' %}" class="mb-4 border p-3">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search notes..." required>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>

                <form method="POST" action="{% url 'notes:sort' %}" class="mb-4 border p-3">
                    {% csrf_token %}
                    <div class="input-group">
                        <label class="input-group-text">Select tags:</label>
                        <select name="tags" multiple class="form-select" required>
                            {% for tag in tags.all %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>

                {% for note in notes %}
                    <div class="card mb-3">
                        <div class="card-body">
                            {% if not note.done %}
                                <h5 class="card-title">{{ note.name }}</h5>
                                <a href="{% url 'notes:set_done' note.id %}" class="btn btn-outline-secondary btn-sm">Mark Done</a>
                            {% else %}
                                <h5 class="card-title"><s>{{ note.name }}</s></h5>
                            {% endif %}
                            <div class="btn-group" role="group" aria-label="Note Actions">
                                <a href="{% url 'notes:detail' note.id %}" class="btn btn-primary btn-sm">Details</a>
                                <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url 'notes:delete' note.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No notes found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
