{% extends "users/base.html" %}

{% block content %}

<h1>Create Tag</h1>

<form method="POST" action="{% url 'notes:tag' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Enter the tag name:</label>
        {{form.name}}
        <span class="text-danger">{{ form.errors.name }}</span>
    </div>
    <div class="grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

{% endblock %}
