{% extends 'users/base.html' %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">

    <div class="text-center">
        <a href="{% url 'news:news_war' %}" class="btn btn-primary" style="width: 33%">War</a>
        <a href="#" class="btn btn-primary" style="width: 33%">Sport</a>
        <a href="#" class="btn btn-primary" style="width: 33%">War statistics</a>
    </div>
    <div class="news">
        <h2>War in Ukraine</h2>
        <div class="news-row">
            {% for new in short_news %}
            <div class="news-item">
                <a href="{% url 'news:news_war_show_one' new.id %}">
                    <div class="image-container">
                        <img src="{{ new.data_src }}" alt="{{ new.title }}"/>
                    </div>
                    <div class="news-info">
                        <h3>{{ new.title }}</h3>
                        <p class="datetime">{{ new.datetime }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}