{% extends 'users/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div xmlns="http://www.w3.org/1999/html">

    <br>
    <div class="text-center">
        <a href="{% url 'news:home' %}" class="btn btn-primary" style="width: 24%">Home</a>
        <a href="{% url 'news:news_war' %}" class="btn btn-primary" style="width: 24%">War</a>
        <a href="{% url 'news:news_prosport' %}" class="btn btn-primary" style="width: 24%">Sport</a>
        <a href="{% url 'news:war_statistic' %}" class="btn btn-primary" style="width: 24%">War statistics</a>
    </div>
    <div class="news">
        <br>
        <h2>War in Ukraine</h2>
        <div class="news-row">
            {% for new in short_news %}
            <div class="news-item">

                <div class="card" style="width: 20rem;">
                    <br>
                    <img src="{{ new.data_src }}" class="card-img-top" alt="{{ new.title }}" style="width: 18rem; display: block; margin-left: auto; margin-right: auto;">

                    <div class="card-body">
                        <a href="{% url 'news:news_war_show_one' new.id %}">
                            <p class="card-text">{{ new.title|truncatechars:50 }}</p>
                        </a>
                        <p class="datetime">{{ new.datetime }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
    <div style="text-align: center;">
        <h2>Sign up or login to your account!</h2>
    </div>
{% endif %}
{% endblock %}